<!doctype html>
<html lang="en">
<head class ='header'>
  <meta charset="utf-8">
  <title>Preview Ad</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
  <%= yield %>
  <script src="/javascripts/app.js"></script>
</body>
</html>
